.midnight {
  background-color: lightgrey;

}

.half-img {
  height: 500px;
}
img{
  width: 25%;
  margin: auto;
  display: block;
}
.text{
text-align: center;
}
.margin2{
 margin-bottom: 25px;
}
.margin{
 margin-bottom: 75px;
}
.border{
  margin-left: 100px;
  margin-right: 100px;
}

.thumbnail{
  border-radius: 50%;
}
.name{
  font-family:"Dancing Script";
  font-size: 25px;
}
.name2{
  font-family:"Dancing Script";
}

.jumbotron{
  background-image: url("../city.jpg");
  background-position: center;
  background-size: cover;
  }
